p.best-answer-text Best answer
- if user_signed_in? && current_user.author_of?(@question)
  = link_to 'Select as the best answer', mark_best_answer_path(answer), method: :patch, remote: true, class: 'best-answer-link'