p.best-answer-text Best answer
- if user_signed_in? && can?(:mark_best, @answer, user: current_user)
  = link_to 'Select as the best answer', mark_best_answer_path(answer), method: :patch, remote: true, class: 'best-answer-link'
